<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.echooo.recognition_yolo_java">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
<!--悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

<!--    相机权限-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
<!--    存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivityLast"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".view.activity.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- &lt;!&ndash;             开发调试时将其注释，开发完打开 &ndash;&gt; -->
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".view.activity.NewMainActivity"-->
<!--            android:exported="false">-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".view.activity.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->

<!--            &lt;!&ndash; &lt;!&ndash; 开发调试时将其打开，开发完注释 &ndash;&gt; &ndash;&gt;-->
<!--            &lt;!&ndash; <intent-filter> &ndash;&gt;-->
<!--            &lt;!&ndash; <action android:name="android.intent.action.MAIN" /> &ndash;&gt;-->


<!--            &lt;!&ndash; <category android:name="android.intent.category.LAUNCHER" /> &ndash;&gt;-->
<!--            &lt;!&ndash; </intent-filter> &ndash;&gt;-->
<!--        </activity>-->

        <service android:name=".service.FloatingPetService" />

<!--        <activity android:name=".view.activity.SettingActivity" />-->
<!--        <activity android:name=".yoloobjdetect.MainActivity2" />-->
    </application>

</manifest>